</main>

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-4 col-6 footer-links">
          <h4>Links</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="/impressum">Impressum</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="/datens">Datenschutz</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-12 footer-contact text-left text-md-start">
          <h4>Kontakt</h4>
          <p>
            An Kang Chinesische Massage <br>
            Entenanger 14<br>
            34117 Kassel<br>
            <strong>Rufnummer:</strong><a href="tel:+491622189308"> 0162/2189308</a><br>
          </p>
          
        </div>
        <div class="col-lg-3 col-8 footer-links">
          <h4>Öffnungszeiten</h4>
          <p>
            <pre>Mo-Fr.: 9:00 - 21:00 Uhr</pre>
            <pre>Sa.:    9:30 - 20:30 Uhr</pre>
            und nach Vereinbarung
             
          </p>



      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      <p>© <script>document.write(/\d{4}/.exec(Date())[0])</script><br><br>Diese Website wurde erstellt von <a href="http://www.itdietz.de">ITDietz.de</a></p>
    </div>
  </div>
</footer>
<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


<script src="scripts/aos/aos.js"></script>
<script src="scripts/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="scripts/glightbox/js/glightbox.min.js"></script>
<script src="scripts/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="scripts/main.js"></script>

</body>

</html>