<%- include("partials/header2") %>
  <section id="services" class="services" style="margin-top: 100px;">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <p>Impressum</p>
      </header>

      <div class="row gy-4">

        <div class="col-lg-12 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <!-- <i class="ri-discuss-line icon"></i> -->
            <p> Angaben gemäß § 5 TMG <br><br>
            X<br>
            An Kang Massage<br>
            Entenanger 14<br>
            34117 Kassel<br>
            <br>
            Kontakt<br>
            Telefon: 0162/2189308<br>
            E-Mail: xx<br>
            <br>
            Verbraucher­streit­beilegung/Universal­schlichtungs­stelle<br><br>
            Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.<br>
            
            Quelle: <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>
           
        </div>

      </div>

    </div>

  </section>

<%- include('partials/footer') %> 
