<%- include("partials/header") %>
<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center hero-img-main">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 d-flex flex-column justify-content-center ">
        <h1 data-aos="fade-up" style="text-shadow: 2px 2px 3px black;">Traditionelle Chinesische Massage</h1>
        <h2 data-aos="fade-up" data-aos-delay="400" style="text-shadow: 2px 2px 3px black;">Gesundheit erleben</h2>
        <div data-aos="fade-up" data-aos-delay="600">
          <div class="text-center text-lg-center">
            <a href="#pricing" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
              <span>Preise</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<main id="main">
  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container" data-aos="fade-up">
      <header class="section-header">
        <h2>Massagen</h2>
        <p>Erleben Sie eine vielfalt an Massagen</p>
      </header>

      <div class="row gy-4">
        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <a href="#pricing" style="color: inherit;">
                <div class="service-box blue">
                <h3>Ganzkörpermassage</h3>
                <p>Genießen Sie eine ganzheitliche Massage, bei der Ihr gesamter Körper mit gezielten Griffen und wohltuenden Berührungen verwöhnt wird, um Verspannungen zu lösen und ein tiefes Gefühl der Entspannung und Erholung zu erreichen.</p>
            </div>
        </a>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <a href="#pricing" style="color: inherit;">
                <div class="service-box orange">
                <h3>Aroma-Öl-Massage</h3>
                <p>Die Aroma-Öl-Massage kann dazu beitragen, Stress abzubauen, die Entspannung zu fördern, Muskelverspannungen zu lösen, die Durchblutung zu verbessern und das allgemeine Wohlbefinden zu steigern.</p>
            </div>
        </a>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <a href="#pricing" style="color: inherit;">
                <div class="service-box green">
                <h3>Meridan-Massage</h3>
                <p>Die Meridian-Massage zielt darauf ab, Blockaden im Energiefluss zu lösen, Spannungen zu reduzieren und das allgemeine Wohlbefinden zu verbessern.</p>
            </div>
        </a>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <a href="#pricing" style="color: inherit;">
                <div class="service-box red">
                <h3>Kopfmassage</h3>
                <p>Eine Kopfmassage ist eine entspannende Massage, die den Kopf, die Kopfhaut und den Nackenbereich stimuliert und eine beruhigende Wirkung hat.</p>
            </div>
        </a>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <a href="#pricing" style="color: inherit;">
                <div class="service-box purple">
                <h3>Fussmassage</h3>
                <p>Eine Fußmassage verwöhnt und beruhigt die Füße, während sie eine tiefe Entspannung und ein angenehmes Gefühl von Wohlbefinden vermittelt, indem sie sanfte Berührungen und gezielten Druck an den Fußsohlen anwendet.</p>
            </div>
            </a>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
            <a href="#pricing" style="color: inherit;">
                <div class="service-box pink">
                <h3>Nacken-Kopf-Rückenmassage</h3>
                <p>Entdecken Sie pure Entspannung und lassen Sie sich von unserer Nacken-Rücken-Kopf-Massage in eine Welt der Gelassenheit entführen.</p>
            </div>
        </a>
        </div>
    </div>
  </section>
  <!-- End Services Section -->

  <!-- ======= Pricing Section ======= -->
  <section id="pricing" class="pricing">
    <div class="container" data-aos="fade-up">
      <header class="section-header">
        <!-- <h2>Preise</h2> -->
        <p>Preisliste</p>
      </header>

      <div class="row gy-4" data-aos="fade-left">
        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="100">
          <div class="box">
            <h3 style="color: blue">Ganzkörpermassage</h3>
            <div class="price">30,00 €<span> / 30 min</span></div>
            <div class="price">50,00 €<span> / 60 min</span></div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
          <div class="box">
            <h3 style="color: orange">Aroma-Öl-Massage</h3>
            <div class="price">33,00 €<span> / 30 min</span></div>
            <div class="price">55,00 €<span> / 60 min</span></div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
          <div class="box">
            <h3 style="color: green">Meridan-Massage</h3>
            <div class="price">33,00 €<span> / 30 min</span></div>
            <div class="price">55,00 €<span> / 60 min</span></div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
          <div class="box">
            <h3 style="color: red">Kopfmassage</h3>
            <div class="price">25,00 €<span> / 30 min</span></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <h3 style="color: purple">Fussmassage</h3>
              <div class="price">30,00 €<span> / 30 min</span></div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <h3 style="color: pink">Nacken-Kopf-Rückenmassage</h3>
              <div class="price">40,00 €<span> / 30 min</span></div>
            </div>
          </div>
      </div>
    </div>
    <header class="section-header" data-aos="fade-left" style="margin-top: 30px;">
      <h3 data-aos="zoom-in" data-aos-delay="200">Vorauszahlen und sparen</h3>
      <h3 data-aos="zoom-in" data-aos-delay="200">4'er Gutscheinkarte für alle Massageangebote 180,00 €</h3>
    </header>

  </section>

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">
      <header class="section-header">
        <h2>Studio</h2>
        <p>Unsere Atmosphäre</p>
      </header>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 d-flex justify-content-center"></div>
      </div>

      <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="pictures/portfolio-1.jpg" class="img-fluid" alt="" />
            <div class="portfolio-info">
              <div class="portfolio-links">
                <a href="pictures/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfokio-lightbox"><i class="bi bi-plus"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="pictures/portfolio-2.jpg" class="img-fluid" alt="" />
            <div class="portfolio-info">
              <div class="portfolio-links">
                <a href="pictures/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfokio-lightbox"><i class="bi bi-plus"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="pictures/portfolio-3.jpg" class="img-fluid" alt="" />
            <div class="portfolio-info">
              <div class="portfolio-links">
                <a href="pictures/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfokio-lightbox"><i class="bi bi-plus"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
<%- include('partials/footer') %>
